[Unit]
Description=Automount for EUMETSAT S3 bucket {{ item.bucket }} at {{ eumetsat_mount_root }}/{{ item.dest }}
After=network-online.target
Wants=network-online.target
Documentation=https://www.freedesktop.org/software/systemd/man/latest/systemd.automount.html

[Automount]
Where={{ eumetsat_mount_root }}/{{ item.dest }}
TimeoutIdleSec={{ automount_timeout_idle_seconds }}

[Install]
WantedBy=multi-user.target
